#header {
    background-image: url("../images/landing.jpg");
    height: 90vh;

}

#header img {
    float:none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;

}

#header p {

    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 250%;

}

#topnav {

      float:right;
}


#topnav image {

      float:right;
}

.happyhour {
      background-color: gray;

}

.happyhour h3 {
      text-align: center;
      margin: auto;

}

.partytime {
      background-color: #ff4000;
}

.partytime h3 {
      color: white;
      text-align: center;

}

.row {

  margin-top: 10%;
  margin-bottom: 10%;
  width: 1200px;
  vertical-align:middle;

}

#foodsection {

      vertical-align:middle;
      float:right;

}

#foodp {

      vertical-align: middle;
      margin-top: 20px;

}

#drinksection {

      vertical-align: middle;
      margin-top: 20px;

}

#drinkp {

      vertical-align: middle;
      margin-top: 20px;

}

.column {
    float: left;
    width: 50%;

}

.Menu {
  background-image: url("../images/backgrounds/foodsBg.jpg");
  height: 90vh;
}

.innermenu {
  border: 2px solid red;
  width: 75%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  background-color: white;
  padding-bottom: 50px;

}

#menunav {
    font-style: Impact, Charcoal, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.figure {
    display: inline-block;
    padding-top: 0px;
}
.figure img {
    vertical-align:middle;
    margin:0;
}
.figure figcaption {
    text-align: center;
}


.row {
    margin-left: 20%;
    margin-right: 20%;
    width:1100px;

}

#customermenu {

    height: 300px;
    width: 1100px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    border: 1px groove gray;

}

#customer {
    width: 600px;
    height: 295px;
    border-right: 2px solid gray;
    float: left;

}

#customer p {
    text-align: center;

}
#customer h4 {
    text-align: center;
    color: orange;

}


#aboutmenu {
  width: 300px;
  float:right;
  padding-left: 5px;

}

#aboutmenu h4 {
text-align: left;
 color: orange;

}

#aboutmenu p {
text-align: left;

}

#subscribe {
    background-image: url("../images/subscribe.jpg");
    height: 50vh;

}

#subscribe p {
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 200%;
  margin-top: 75px;

}
